.DS_Store
coverage
publish
lib
node_modules/*
npm-debug.log
src/*.js
src/*.js.map
src/*.d.ts
test/*.js
test/*.js.map
test/*.d.ts
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
